{% extends "base.html" %}

<h1> Expenses List </h1>

{%block content %}
<ul class="list-group">
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>


</ul>
{%endblock content%}
